.commentsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 1.2rem;
    margin-bottom: .8rem;
}

.comment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    font-size: .8rem;
    border-bottom: solid 1px var(--dnd-red);
}

.firstComment {
    border-top: solid 1px var(--dnd-red);
}

.author {
    color: var(--deep-red);
}

.text {
    text-align: right;
}
