.campaignPostsHeader {
    grid-area: header;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
    background-color: var(--dnd-black);
    width: 100%;
    top: 62px;
}

.backButton {
    background-color: var(--dnd-black);
    color: var(--dnd-red);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.backButton:hover {
    color: var(--deep-red);
}
