.campaignPostsHeader {
	grid-area: header;
	position: fixed;
	top: 56px;
	right: 0.5rem;
	padding-left: 1rem;
	padding-bottom: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--dnd-black);
	width: 100%;
}

.campaignPostsHeaderRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1rem 0 1rem;
	gap: 1rem;
	width: 100%;
}

.addPostButton {
	padding: 0.3rem 1rem;
	border-radius: 0.5rem;
	border: none;
	color: var(--silver);
	font-size: 1rem;
	font-weight: 700;
	background-color: var(--dnd-red);
	cursor: pointer;
	transition: all 0.3s;
}

.searchInput {
	width: 100%;
	padding: 0.5rem;
	border: solid 2px var(--dnd-red);
	border-radius: 0.5rem;
	background-color: var(--dnd-black);
	color: var(--silver);
}

.filterIcon {
	color: var(--dnd-red);
	position: absolute;
	right: 1.75rem;
}

@media screen and (min-width: 768px) {
	.campaignPostsHeader {
		width: 60%;
		right: 20%;
	}
}
